---
layout: default
title: All Posts
permalink: /all-posts
---

<h1>All Posts</h1>
<p>
  Posts are listed newest to oldest or you can browse by tags, <a href="https://cdenton1.github.io/tags/">https://cdenton1.github.io/tags/</a>. <br>
</p>

<ul>
  {% for post in site.posts %}
    {% unless post.tags contains "hidden-2" %}
      <li class="post-preview">
        <div>
          <a href="{{ post.url }}">{{ post.title }}</a> <br>
          <small>
            {{ post.date | date: "%B %d, %Y" }}{% if post.read_time %} - {{ post.read_time}}{% endif %}
          </small> <br>
        </div>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
