---
layout: default
title: Cybersecurity Events
permalink: /events
---

<h1>Cybersecurity Events</h1>
<p>
  I have had the privilege of attending a handful of cybersecurity related events since starting college. Here you can find my thoughts and reflections on what I was able to learn from attending them and my overall experience at each one. <br>
</p>

<ul>
  {% for post in site.posts %}
    {% if post.tags contains "cyber-events" %}
      <li class="post-preview">
        <div>
          <a href="{{ post.url }}">{{ post.title }}</a> <br>
          <small>
            {{ post.date | date: "%B %d, %Y" }}{% if post.read_time %} - {{ post.read_time}}{% endif %}
          </small> <br>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
