---
layout: default
title: Projects
---

<h1>Projects</h1>
<b>
  I work on a lot of different things constantly, whether school projects, or experimenting with different technology and tools, and this page will be dedicated to the posts where I share more about those.
</b>
<br>
<ul>
  {% for post in site.posts %}
    {% if post.tags contains "projects" %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
