---
layout: default
title: CTF Writeups
permalink: /writeups
---

<h1>CTF Writeups</h1>
<p>
  Capture The Flag (CTF) competitions are cybersecurity competitions where you are tasked with solving and completing challenges to find flags. Here you can find my writeups for some of the in-person or online CTF competitions I have competed in since starting this blog. <br>
</p>

<ul>
  {% for post in site.posts %}
    {% if post.tags contains "ctf-writeup" %}
      <li class="post-preview">
        <div>
          <a href="{{ post.url }}">{{ post.title }}</a> <br>
          <small>
            {{ post.date | date: "%B %d, %Y" }}{% if post.read_time %} - {{ post.read_time}}{% endif %}
          </small> <br>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
