---
---

@import "{{ site.theme }}";

// body {
//  background-color: #cceeff;
//  font-family: 'Segoe UI', sans-serif;
// }

.post-preview {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.post-preview img {
  width: 100px;
  height: auto;
  margin-right: 1rem;
  border-radius: 5px;
}

.post-preview a {
  font-weight: bold;
}
