---
---

@import "{{ site.theme }}";

// body {
//  background-color: #cceeff;
//  font-family: 'Segoe UI', sans-serif;
// }

.post-preview {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.post-preview img {
  width: 100px;
  margin-right: 1rem;
}

.post-preview a {
  font-weight: bold;
}
